<h1>Listing games</h1>

<%= link_to 'New Game', new_game_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td><%= game.title %></td>
      <td><%= game.description %></td>
    </tr>
  <% end %>
</table>